/* Brendan Tronconi.com */

/* Remove browser styles*/
	
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	font-weight: inherit;
	font-style: inherit;
	font-size: 100%;
	font-family: inherit;
	vertical-align: baseline;
		}
			 
	 
body	{	
	margin: 0 auto;
	max-width: 1100px;
	padding: 0;
	border: 0;	
	}

.page	{
	margin: 0 auto;
		}
		
a {
	color: #000;
	text-decoration: underline;
	padding-bottom: 1px;
	}
	
a:hover {
	opacity: .8;
	}

#banner	{
	height: 280px;
	background-color: #ccc;
	margin: 0;
	padding: 0;
	}	
	
#banner a {
	text-decoration: none;
	}	

#banner hr {
	background-color: #000;
	width: 99.9%;
	height: 2px;
	float: left;
	margin-top: 46px;
	}

h1	{
	float: left;
	width: 420px;
	font-size: 3.6em;
	font-family: 'gravitas one';
    text-transform: uppercase;
	text-align: left;
	color: black;
	}

h1:hover	{
	color: #7c9866;
	}
	
h2	{
	font-family: 'lato';
	}

img {
	max-width: 100%;
	}

#desc	{
	float: left;
	margin-left: 1%;
	text-align: left;

	}

#desc p {
	font-size: 1em;
	line-height: 1.8em;
	font-family: "lato", sans-serif;
	margin-left: 2px;
	}

#contact	{
	width: 300px;
	clear: right;
	float: right;
	text-align: right;
	margin-right: 50px;
	font: 100 42px/42px 'lato';
	line-height: 1.3em;
	color: #ccc;
	}
	
	
#contact i	{
	padding: 10px;
	color: black;
	}

#contact i:hover	{
	color: #7c9866;
	}
	
#contact a	{
	color: #ccc;
	text-decoration: none;
	}
	
#contact a:hover	{
	color: #7c9866;
	}
	

.main	{
	margin: 10px auto 0;
	padding-top: 10px;
	clear: both;
	}
	
.main h2	{
	text-align: center;
	font: 400 42px/42px 'lato';
	text-transform: uppercase;
	}
	
.main img {
	margin: 30px auto 30px 0;
	padding: 0;
	box-shadow: 0px 5px 10px #000;
	}
	
.main p	{
	text-align: left;
	margin: 20px 20px 20px 30%;
	padding: 0;
	font-family: 'lato', sans-serif;
	font-weight: 400;
	line-height: 1.4em;
	width: 600px;
	}
	
.main p span	{
	color: #399c3e;
	}

.main a {
	color: #399c3e;
	} 
	
.main button {
	float: left;
	color: #6fa44f;
	margin: 0 auto 10px 40px;
	text-transform: uppercase;
	font-weight: 800;
	}

.main button a {

	text-decoration: none;

	}

#recent	{
	float: left;
	padding-bottom: 10px;
	margin-left: 4.8%;
	}
	
#recent ul {
	list-style: none;
	float: left;
	margin: 0 auto 0;
	}
	
#recent li {
	display: inline;
	float: left;
	margin-left: 5px;
	}
	
#recent img	{
	margin: 30px 0 30px 20%;
	padding: 0;
	box-shadow: 0px 5px 10px #000;
	}

#recent p	{
	text-align: center;
	margin: 20px 20px 20px;
	padding: 0;
	font-family: "lato", sans-serif;
	line-height: 1.3em;
	width: 100%;
	}
	
#recent span 	{
	font-style: oblique;
	color: black;
	}
	
#recent a {
	color: black;
	}
		
footer {
	clear: both;
	background-color:  #ccc;
	color: #000;
	font: 400 16px/16px "lato";
	text-align: center;
	padding: 0;
	}
	
footer hr {
	background-color: #000;
	width: 99.8%;
	height: 2px;
	position: relative;
	top: 0px;
	}
	
footer hr:nth-of-type(2) {
	background-color: #000;
	width: 99.8%;
	height: 2px;
	position: relative;
	top: 2px;
	margin: 10px 0 0;
	padding: 0;
	}
 /*///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/

@media screen and (max-width: 950px) {


.desc	{
	
	}

h1 {

	}

#contact	{
	position: absolute;
	left: 95px;
	top: 230px;
	text-align: left;
	}
	
#contact i {
	color: black;
	}

#contact a {
	color: black;
	}

#banner	{
	height: 470px;
	}

#banner hr {
	background-color: #000;
	width: 99.8%;
	height: 3px;
	float: left;
	margin-top: 235px;
	}

.main	{
	margin: 10px auto 0;
	padding-top: 10px;
	clear: both;
	}
	
.main h2	{
	text-align: center;
	font: 400 42px/42px 'lato';
	text-transform: uppercase;
	}
	
.main p	{
	text-align: left;
	margin: 20px 20px 20px 40px;
	padding: 0;
	font-family: 'lato', sans-serif;
	font-weight: 400;
	line-height: 1.3em;
	width: 300px;
	}

 /*///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
 
 
@media screen and (max-width:336px) {

body	{	
	margin: 0 auto;
	padding: 0;
	border: 0;
	width: 319px;	
	}
		
a {
	color: #fff;
	text-decoration: underline;
	padding-bottom: 1px;
	}
	
a:hover {
	opacity: .8;
	}

#banner	{
	height: 585px;
	width: 100%;
	background-color: #ccc;
	margin: 0;
	padding: 5px;
	}		
	
#banner hr {
	position: relative;

	}
	
#desc p {
	width: 50%;
	font-size: 1em;
	margin: 120px 10% 0 0;
	}

h1	{
	float: left;
	width: 320px;
	margin: 10px 0 0;
	font-size: 2.4em;
	font-family: 'gravitas one';
	text-align: left;
	}

h1:hover	{
	color: #399C3e;
	}


#contact	{
	position: absolute;
	left: 30px;
	top: 360px; 
	margin: 0;
	text-align: left;
	font: 100 32px/32px 'lato';
	line-height: 1.4em;		
	}

.main h2	{
	text-align: center;
	font: 400 40px/40px 'lato';
	}

footer {
	width: 99%;
	}

}}}}}}